{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<table class="table table-stripe">
    <tr class="table-primary" >
        <th >Nom</th>
        <th class="table-primary">Prix</th>
        <th class="table-primary">Actions</th>
    </tr >

    {% for art in articles %}
    <tr >
        <td>{{art.nom}}</td>
        <td>{{art.prix}}</td>
        <td>
         <a href="{{path('article.detail',{id:art.id})}}"><button>Détails</button></a>
         <a href="{{path('article.edit',{id:art.id})}}"><button>Modifier </button></a>
         <a href="{{path('article.remove',{id:art.id})}}"><button>Supprimer </button></a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
